<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search"
    aria-label="Search" name="state">
    <button class="btn btn-outline-success my-2 my-sm-0"
    type="submit">Search</button>
  </form>
</nav>

<table class="table">
  <tr>
    <th>Nombre del Proyecto</th>
    <th>Descripción del Proyecto</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de finalización</th>
    <th>Estado del Proyecto</th>
  <tr>
  <% @works.each do |work| %>
    <tr>
      <td><%= work.name %></td>
      <td><%= work.descritption %></td>
      <td><%= work.start_date %></td>
      <td><%= work.finish_date %></td>
      <td><%= work.state %></td>
    </tr> 
  <% end %>
</table>